*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#news{
    font-weight: bold;
    color: #0066ff;
    border-bottom: 2px solid #0065fd;
}
#blog:hover{
    color: #0066ff;
}

.btn-more{
    background: #5D5FEF;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 0;
    padding: 13px 25px;
    border: none;
    color: white;
}
.btn-more:hover{
    background-color: white;
    color: #5D5FEF;
    border: 1px solid #5D5FEF;
}

/* ------------------------------------------------------------------- */
/* ------------------------loading css start-------------------------- */
/* -------------------------------------------------------------------- */

#preloader{
    background:#fff url(images/loader.gif) no-repeat center center;
    background-size: 50%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  /* ------------------------------------------------------------------- */
  /* ------------------------loading css end-------------------------- */
  /* -------------------------------------------------------------------- */

